/* laptop 1024px  Tablet 640px */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--background); */
    background-color:blue;
}

.homeBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}

.homeBox .txtHome {
    background-color:burlywood;
    height: 500px;
    /* min-width: calc(50% - 25%); */
    width: 500px;
}

.mayteHome {
    background-color: violet;
    height: 500px;
    width: 500px;
}

/* Mobile */
@media screen and (max-width:480px) {}